.container__doubleInputs {
  background-color: #63a1bc;
  padding: 30px 60px 50px 60px;
  width: 100%;
  max-width: 1100px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.box__doubleInputs {
  background-color: orange;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  height: fit-content;
  width: 50%;
}

.text__box {
  width: 50%;
  background-color: green;
  padding: 0 20px;
  height: fit-content;
}

.description__doubleInputs {
  font-size: 20px;
}

.title__singleInputs {
  font-family: 'Cookie', cursive;
  margin: 0;
  color: white;
  font-size: 70px;
  font-weight: lighter;
  text-shadow: 2px 2px #5791ab;
  padding-bottom: 20px;
}

.title__doubleInputs {
  font-family: 'Cookie', cursive;
  margin: 0;
  color: white;
  font-size: 50px;
  font-weight: lighter;
  text-shadow: 2px 2px #5791ab;
  padding: 10px;
}

.description__doubleInputs {
  font-family: 'Cookie', cursive;
  color: white;
  font-size: 26px;
  margin: 0;
  line-height: 1.5;
  padding-bottom: 20px;
}

.cube {
  height: 150px;
  width: 150px;
  background-color: gold;
}

.label {
  font-size: 24px;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}

.container__boxHide {
  background-color: #63a1bc;
  padding: 30px 60px 50px 60px;
  width: 100%;
  max-width: 700px;
  height: 327px;
}

.result__cubeHide {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 150px;
}

.box__cubeHide {
  background-color: orange;
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  height: fit-content;
  width: 410px;
  justify-content: center;
  align-items: center;
}

.comment {
  margin: 0;
  font-size: 20px;
}

input[type=checkbox] {
  width: 30px;
  height: 30px;
  accent-color: #e35886;
  cursor: pointer;
}